<div class="container" id="producs-container">
    <div class="card-columns">
        <div *ngFor="let item of productList" class="card">
            <img class="card-img-top img-fluid" [src]="item.imgUrl" alt="">
            <div class="card-body">
                <div class="clearfix">
                    <h4 class="card-title float-left">{{item.name}}</h4>
                    <h6 class="text-muted float-right">&#8377; {{item.price}}</h6>
                </div>
                <small class="card-text">{{item.description}}</small>
            </div>
        </div>
    </div>
</div>